* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

/*  */

.calendar {
    width: 100%;
}

.month {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.month button {
    border: none;
    padding: 20px;
    background-color: transparent;
}

.date {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 50px;
    align-items: center;
}

.date li {
    font-size: .8em;
    text-transform: uppercase;
}

.day-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: calc(100vh - 150px);
}

.day-container li {
    border-bottom: 1px solid #f1f1f1;
    padding: 20px;
    font-size: .8em;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}
/* 
.holiday {
    border-bottom: 1px solid #f1f1f1;
    padding: 20px;
    font-size: .8em;
    font-weight: 700;
    color: red;
} */

.modal {
    display: none;
    position:fixed;
    right: 50px;
    top: 50px;
    /* border: 1px solid #363636; */
    padding: 30px;
    width: 300px;
    background-color: rgb(24, 24, 24);
}

.display {
    display: flex;
}

.modal form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.modal p {
    font-weight: 700;
}

.modal input {
    padding: 10px;
}

.modal button {
    /* background-color: rgba(0,0,0,.3); */
    border: 1px solid #666;
}

.green {
    color: green;
}